{% extends 'base_admin.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Events Table</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Organisateur</th>
                <th>Contact</th>
                <th>Max_participant</th>
                <th>Statut</th>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
                <th>image</th>
                <th>Category</th>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                <td>{{ event.description }}</td>
=======
                <td class="description-cell">{{ event.description }}</td>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
                <td>{{ event.description }}</td>
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
                <td>{{ event.description }}</td>
>>>>>>> 8b6d46d (Rayen)
                <td>{{ event.dateDebut ? event.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ event.organisateur }}</td>
                <td>{{ event.contact }}</td>
                <td>{{ event.maxParticipant }}</td>
                <td>{{ event.statut }}</td>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
                 <td>
                    {% if event.imageName %}
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="Event Image" style="width: 100px; height: auto;">
                    {% endif %}
                </td>
                 <td>{{ event.eventCategory.name }}</td>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
{% endblock %}
