{% extends 'base.html.twig' %}
{% block title %}{{ event.name }}  Details{% endblock %}
{% block body %}
<div class="ticket-details-page">
    <div class="container">
        <div class="custom-row">
            <div class="custom-col-left">
                <div class="left-image">
                    <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.name }}" >
                </div>
            </div>
            <div class="custom-col-right">
                <div class="right-content">
                    <h4>{{ event.name }}</h4>
                    <span>{{ event.maxParticipant }} places are still available</span>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> {{ event.getDateDebut()|date('Y-m-d') }} to {{ event.getDateFin()|date('Y-m-d') }}</li>
                        <li><i class="fa fa-map-marker"></i>{{ event.name }}</li>
                        <li><i class="fa fa-map-marker"></i>{{ event.organisateur }}</li>
                    </ul>
                    <div class="quantity-content">
                        
                            <p>{{ event.description }}</p>
                        
                    </div>
                    <div class="total">
                        <div class="main-dark-button"><a href="#">participate</a></div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
