{% extends 'base.html.twig' %}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
{% block body %}
<style>
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-container li {
  margin: 0 5px;
}

.pagination-container li a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination-container li.active a,
.pagination-container li a:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

</style>

    <h1 class="mt-4 mb-4">Reclamation Index</h1>
{% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="form-container">
<<<<<<< HEAD
=======
=======
>>>>>>> 8b6d46d (Rayen)
{% block title %}Reclamation Index{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">Reclamation Index</h1>

<<<<<<< HEAD
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Etat</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.titre }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.type }}</td>
                        <td>{{ reclamation.etat }}</td>
                        <td>{{ reclamation.createdAt ? reclamation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                            {{ include('reclamation/_delete_form.html.twig') }}
                            {% if reclamation.etat == "Done" %}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                            <a href="{{ path('app_reponse_show', {'id': reclamation.reponse.id}) }}" class="btn-voir-tous">Voir Reponse</a>
=======
                             <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-info btn-sm">Details</a>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
                            <a href="{{ path('app_reponse_show', {'id': reclamation.reponse.id}) }}" class="btn-voir-tous">Voir Reponse</a>
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
                             <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-info btn-sm">Details</a>
>>>>>>> 8b6d46d (Rayen)
                             {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
    <nav class="pagination-container">
				{{ knp_pagination_render(reclamations) }}
			</nav>

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-success">Create New</a>
        </div>

        </div>
</section>
<<<<<<< HEAD
=======

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-success">Create New</a>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-success">Create New</a>
>>>>>>> 8b6d46d (Rayen)
{% endblock %}
