<<<<<<< HEAD
<<<<<<< HEAD
{% extends 'base_admin.html.twig' %}
=======
{% extends 'base.html.twig' %}
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
{% extends 'base_admin.html.twig' %}
>>>>>>> c98b2fa (walaa+chiheb integration)

{% block title %}Ticket index{% endblock %}

{% block body %}
<<<<<<< HEAD
<<<<<<< HEAD
=======

 <div class="containerticket" style=" margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;margin-top: 100px;margin-bottom: 100px">
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
    <h1>Tickets Table</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
<<<<<<< HEAD
<<<<<<< HEAD
                <th>Quantite_dispo</th>
                <th>Date_creation</th>
=======
                <th>Quantite_Disponible</th>
                <th>creation Date</th>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
                <th>Quantite_dispo</th>
                <th>Date_creation</th>
>>>>>>> c98b2fa (walaa+chiheb integration)
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
<<<<<<< HEAD
<<<<<<< HEAD
=======
        
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.quantiteDispo }}</td>
                <td>{{ ticket.dateCreation ? ticket.dateCreation|date('Y-m-d') : '' }}</td>
<<<<<<< HEAD
<<<<<<< HEAD
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
=======
               
                 
                <td>
                  <a href="{{ path('print_ticket', {'id': ticket.id}) }}" style="text-align: center;">Imprimer Ticket</a>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
>>>>>>> c98b2fa (walaa+chiheb integration)
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
<<<<<<< HEAD

    <a href="{{ path('app_ticket_new') }}">Create new</a>
=======
     </div>

   
>>>>>>> chiheb+walaa/syrinecopie_branch
=======

    <a href="{{ path('app_ticket_new') }}">Create new</a>
>>>>>>> c98b2fa (walaa+chiheb integration)
{% endblock %}
