{{ form_start(form) }}
<<<<<<< HEAD
=======
{{ form_start(form,{'attr':{'novalidate':'novalidate'}})}}
>>>>>>> 8b6d46d (Rayen)
    {{ form_widget(form) }}

    <br>

=======
    {{ form_widget(form) }}
>>>>>>> 175bd6f (changes)
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
