{# templates/user/edit.html.twig #}

{% extends 'base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<h2>Edit User</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn btn-primary">Save</button>
    <br>
{{ form_end(form) }}
    <br>
=======
    <button class="btn">Save</button>
{{ form_end(form) }}
>>>>>>> 23a1a9b (walaa new commit)

    <button href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">Back to view</button>
{% endblock %}
