{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
<div class="container1">
<section class="section hero" id="home">
        <div class="hero-content">
            <p class="section-subtitle">User Details</p>
         {{ user.firstName }}
            <div class="user-details">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
                <strong>ID:</strong> {{ user.id }}<br>
>>>>>>> chiheb+walaa/syrinecopie_branch
=======
>>>>>>> 6f2e479 (walaa+bundles)
=======
>>>>>>> c98b2fa (walaa+chiheb integration)
=======
>>>>>>> 8b6d46d (Rayen)
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>First Name:</strong> {{ user.firstName }}<br>
                <strong>Last Name:</strong> {{ user.lastName }}<br>
            </div>
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn">Edit</a>
        
    </div>
</section>
{% endblock %}
